<?xml version="1.0" encoding="utf-8" ?>
<uexplugins>
    <plugin name="uexSecurityKeyboard">
        <method name="open" sync = "true"></method>
        <method name="close"></method>
        <method name="getContent"></method>
        <method name="getData"></method>
    </plugin>
</uexplugins>
